{% extends "layout2.html" %}

{% block content %}
{% import "_macros.html" as macros %}
<h1>Hola desde alumnos!</h1>
<form action="" method="post">
    <div class="row g-4">
        <div class="col-md-3">
            {{
                macros.camposNuevos(
                    form.nombre, 
                    class='form-control'
                )
            }}
        </div>

        <div class="col-md-3">
            {{
                macros.camposNuevos(
                    form.primerApellido, 
                    class='form-control'
                )
            }}
        </div>

        <div class="col-md-3">
            {{
                macros.camposNuevos(
                    form.segundoApellido, 
                    class='form-control'
                )
            }}
        </div>

        <div class="col-md-3">
            {{
                macros.camposNuevos(
                    form.edad,
                    class='form-control'
                )
            }}
        </div>

        <div class="col-md-3">
            {{
                macros.camposNuevos(
                    form.correo,
                    class='form-control'
                )
            }}
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-secondary">
                Registrar
            </button>
        </div>
    </div>
</form>
<h1>Nombre: {{nombre}}</h1>
<h2>Primer Apellido: {{primerApellido}}</h1>
<h2>Segundo Apelido: {{segundoApellido}}</h1>
{% endblock %}
